services:
  nisos-agent:
    build:
      context: .
      dockerfile: nisos-studio/Dockerfile
    ports:
      - "8001:8000"
    environment:
      - MOCKOON_URL=http://mockoon:3001
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - LANGSMITH_TRACING=true
      - LANGSMITH_PROJECT=${LANGSMITH_PROJECT}
      - LANGSMITH_API_KEY=${LANGSMITH_API_KEY}
      - LANGSMITH_ENDPOINT=${LANGSMITH_ENDPOINT}
    depends_on:
      - mockoon
    labels:
      # 1. Define the middleware and users
      - "traefik.enable=true"
      - "traefik.http.routers.nisos-router.rule=Host(`nisos.mstewart.dev`)"
      - "traefik.http.routers.nisos-router.entrypoints=websecure"
      - "traefik.http.routers.nisos-router.tls=true"
      - "traefik.http.middlewares.nisos-auth.basicauth.users=user:$$2y$$05$$vbrV9N7Lz583DxZQHxx49uxbU87.5BAXMKeIluEsFqnOrCELK0GIu"
      - "traefik.http.routers.nisos-router.middlewares=nisos-auth"

  mockoon:
    image: mockoon/cli:latest
    ports:
      - "3001:3001"
    volumes:
      - ./mockoon-data.json:/data/mockoon-data.json:ro
    command: ["--data", "/data/mockoon-data.json", "--port", "3001", "--hostname", "0.0.0.0"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mockoon-router.rule=Host(`socialapi.mstewart.dev`)"
      - "traefik.http.routers.mockoon-router.entrypoints=websecure"
      - "traefik.http.routers.mockoon-router.tls=true"
