services:
  nisos-agent:
    build:
      context: .
      dockerfile: nisos-studio/Dockerfile
    ports:
      - "8001:8000"
    environment:
      - MOCKOON_URL=http://mockoon:3001
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - LANGSMITH_TRACING=true
      - LANGSMITH_PROJECT=${LANGSMITH_PROJECT}
      - LANGSMITH_API_KEY=${LANGSMITH_API_KEY}
      - LANGSMITH_ENDPOINT=${LANGSMITH_ENDPOINT}
    depends_on:
      - mockoon
    labels:
      - "traefik.enable=true"
      # Routing rule
      - "traefik.http.routers.nisos-agent.rule=Host(`nisos.mstewart.dev`)"
      # Define internal service port
      - "traefik.http.routers.nisos-agent.service=nisos-agent-service"
      - "traefik.http.services.nisos-agent-service.loadbalancer.server.port=8000"
      # Authentication Middleware
      - "traefik.http.middlewares.nisos-auth.basicauth.users=user:$$2y$$05$$vbrV9N7Lz583DxZQHxx49uxbU87.5BAXMKeIluEsFqnOrCELK0GIu"
      - "traefik.http.routers.nisos-agent.middlewares=nisos-auth"

  mockoon:
    image: mockoon/cli:latest
    ports:
      - "3001:3001"
    volumes:
      - ./mockoon-data.json:/data/mockoon-data.json:ro
    command: ["--data", "/data/mockoon-data.json", "--port", "3001", "--hostname", "0.0.0.0"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mockoon.rule=Host(`socialapi.mstewart.dev`)"
      - "traefik.http.routers.mockoon.service=mockoon-service"
      - "traefik.http.services.mockoon-service.loadbalancer.server.port=3001"
